In [20]:
import pandas as pd

# Load CSV file into a DataFrame
df = pd.read_csv(filepath_or_buffer='/home/godfreykaris/Documents/CVI/FileTokenizer/test_files/php/edit_apple_breed.csv', sep='~')

# Display the DataFrame
# display(df)

for index, row in df.iterrows():
    # Print the desired cell value
    print(row.iloc[0])
    print(row.iloc[1])
    print(row.iloc[2])

    # Print two empty lines
    print("\n")

$sql = \SELECT * FROM apple_breeds WHERE id = ?\";"
/home/godfreykaris/Documents/CVI/FileTokenizer/test_files/php/edit_apple_breed.php
22